# PRISM - Red Social Universitaria USMP Filial Sur
# Plantilla de variables de entorno

PORT=3000
NODE_ENV=development
SESSION_SECRET=secret_key_usmp_prism_2026

# Redis (Upstash REST API para Caché distribuido y Temp Data)
UPSTASH_REDIS_REST_URL=https://your-upstash-redis-instance.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token_here
